<p style="color: green"><%= notice %></p>

<h1>Destinations</h1>

<ul>

  <% @destinations.each do |destination| %>
    <li>
      <%= link_to destination.location, destination %>
    </li>
  <% end %>
</ul>
<br/><br/><br/><br/>

<%= link_to "New destination", new_destination_path %>
